@use './variables/global';
@use './reset';
@use './themes/normal';
@use './themes/dark';

* {
  transition:
    background var(--transition-color),
    color var(--transition-color),
    fill var(--transition-color);
  // scroll-behavior: smooth;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--bg-color);

  min-height: 100vh;
}

.main-container {
  display: flex;
}

.display_none {
  display: none;
}

@media (max-width: 900px) {
  .display_none {
    display: block;
  }
}
