@use './media' as *;

.about {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: var(--max-width-content);
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding: 2rem 20px 0;
  width: 100%;
  text-align: center;
  font: var(--font-title);
  font-weight: 700;
  color: var(--def-contrast-text-color);
}

.subSectionTitle {
  width: inherit;
}

.subTitle {
  margin-top: 1rem;
  font: var(--font-sub-title);
  color: var(--accent-color-about);
}

.subTitle__txt {
  border-bottom: 2px solid var(--gray-50);
}

.subTitleDescription {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: justify;
  color: var(--def-contrast-text-color);
}

.cardsOfTech {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 1rem;
  padding: 0.5rem 1rem;
  width: 12rem;
  user-select: none;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--bg-color);
  background-color: var(--inverted-bg-color);
}

.cardCheckBox {
  display: none;
}

.cardImg {
  width: 3rem;
}

.cardTitle {
  margin-left: 1rem;
}

@include mediaAbout();
