@use './media' as *;

.about {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 80rem;
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding: 0 20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-color-about);
}

.aboutMe,
.aboutTech {
  width: inherit;
}

.subTitle {
  width: max-content;
  margin-top: 3rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: var(--accent-color-about);
  border-bottom: 2px solid white;
}

.subTitleDescription {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: justify;
  color: var(--primary-color-about);
}

.cardsOfTech {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 1rem;
  padding: 0.5rem 1rem;
  width: 12rem;
  user-select: none;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--gray-50);
}

.cardCheckBox {
  display: none;
}

.cardImg {
  width: 3rem;
}

.cardTitle {
  margin-left: 1rem;
  color: black;
}

@include mediaAbout();
