@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;700&display=swap');
:root {
  @include colors();

  --max-width-content: 80rem;

  --transition-color: 0.3s;
  --font-family-main: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Inter', 'Helvetica Neue', sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-title: 3rem;
  --font-size-sub-title: 1.875rem;
  --font-title: var(--font-size-title) / normal var(--font-family-main);
  --font-sub-title: bold var(--font-size-sub-title) / 2.25rem normal var(--font-family-main);
  /* --------------------------------- NavBar --------------------------------- */

  --navbar-height: 50px;
  --header-padding: 20px;

  /* --------------------------------- MOBILE --------------------------------- */
  --mobile-media-point: 900px;
}
