.projectWithDetail {
  color: white;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1500 - 320)));
}

.techs,
.apis,
.arch,
.desc_txt article {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--sky-900);
}

.tech_imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.tech_img {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--gray-100);
  width: calc(50px + (50 - 40) * ((100vw - 320px) / (1500 - 320)));
  height: calc(50px + (50 - 40) * ((100vw - 320px) / (1500 - 320)));
  max-width: calc(41px + 5px);
  max-height: calc(41px + 5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  margin-top: 1.5rem;
  display: flex;
  gap: 20px;
  min-height: 300px;
}

.links {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.desc_tech {
  text-align: left;
  flex: 40% 1 1;
}

.desc_tech li {
  margin-left: 40px;
  list-style: disc;
}

.desc_txt {
  display: grid;
  flex: 60% 1 1;
}
.desc_txt h2,
.desc_tech h2 {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 700;
  font-size: 18px;
}

.desc_txt h2 {
  text-align: center;
}

.desc_txt article {
  justify-self: flex-start;
}

.readyWorks {
  color: var(--inverted-bg-color);
}

@media (max-width: 640px) {
  .desc {
    max-width: 640px;
    flex-direction: column;
  }
  .desc {
    gap: unset;
  }
}

@media (max-width: 400px) {
  .projectWithDetail {
    padding: 0;
  }
}
