@use './media' as *;

.projects {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--projects-bg-color);
  color: var(--project-card-text-color);
}

.projectsWrapper {
  max-width: var(--max-width-content);
}

.title {
  text-align: center;
  font: var(--font-title);
  font-weight: 700;
}

.subTitle {
  margin-top: 1rem;
  font: var(--font-sub-title);
  color: var(--accent-color-project-card);
}

.projectsCard {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCard {
  flex: 400px 1 1;
  max-width: 400px;
  padding: 10px;
  background: var(--project-card-bg-color);
  border-radius: 10px;
}

.showMoreBtn {
  margin-top: 2rem;
}

@include mediaProjects();
