@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-10,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.page_404 {
  padding-top: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #fff;
  color: var(--def-contrast-text-color);
  font-family: 'Arvo', serif;
  height: calc(100vh - var(--navbar-height));
}

.page_404 * {
  transition: all 0s;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(../../../shared/assets/bg/page404.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  margin: 20px 0;
}
.contant_box_404 {
  margin-top: -50px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.text-center {
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
}
