.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-octopus-svg {
  fill: var(--fill-git-octo);
  color: var(--color-git-octo);
  position: absolute;
  top: var(--navbar-height);
  border: 0;
  left: 0;
  transform: scale(-1, 1);
  z-index: 1;

  @media (max-width: 900px) {
    top: 0;
    z-index: 0;
  }
}

.octo-arm {
  transform-origin: 130px 106px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
