.app.dark {
  --bg-color: var(--gray-900);
  --inverted-bg-color: #fff;

  --primary-color: var(--gray-700);
  --secondary-color: var(--sky-500);
  --navbar-links-color: var(--bg-color);

  /* ---------------------------- Introduce Section ---------------------------- */
  --color-description: white;
  --introducebg: url(@/shared/assets/bg/cloudDarkBg.png);

  /* -------------------------------- ABOUT ME -------------------------------- */
  --primary-color-about: var(--inverted-bg-color);
  --accent-color-about: var(--blue-400);
}
