:root {
  --bg-color: var(--gray-50);
  --inverted-bg-color: var(--gray-700);

  --primary-color: var(--sky-700);
  --secondary-color: var(--gray-700);
  --navbar-links-color: var(--bg-color);

  /* ---------------------------- Introduce Section ---------------------------- */
  --color-description: var(--secondary-color);

  --introducebg: url(@/shared/assets/bg/cloudBg.webp);

  /* -------------------------------- ABOUT ME -------------------------------- */
  --def-contrast-text-color: var(--gray-950);
  --accent-color-about: var(--primary-color);

  /* -------------------------------- PROJECTS -------------------------------- */
  --projects-bg-color: var(--gray-300);
  --project-card-bg-color: var(--gray-100);
  --project-card-text-color: var(--gray-950);
  --accent-color-project-card: var(--blue-400);

  /* ------------------------------ PROJECT CARD ------------------------------ */
  --project-card-border-color: var(--sky-700);

  /* ------------------------------- BREADCRUMBS ------------------------------ */
  --breadcrumbs-color: var(--blue-700);
}
