.app.dark {
  --bg-color: #374151;
  --inverted-bg-color: #fff;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --navbar-links-color: var(--bg-color);

  /* ---------------------------- Introduce Section ---------------------------- */
  --introducebg: url(@/shared/assets/bg/cloudDarkBg.png);
}
