:root {
  --bg-color: #fff;
  --inverted-bg-color: #374151;

  --primary-color: #041c65;
  --secondary-color: #0449e0;
  --navbar-links-color: var(--bg-color);

  /* ---------------------------- Introduce Section ---------------------------- */
  --introducebg: url(@/shared/assets/bg/cloudBg.png);
}
