.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@supports not (aspect-ratio: 16 / 9) {
  .content::before {
    float: left;
    padding-top: 100%;
    content: '';
  }

  .content::after {
    display: block;
    content: '';
    clear: both;
  }
}

.loading {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cardFooter {
  border: 2px solid var(--project-card-border-color);
  border-top: none;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--project-card-text-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardFooterTitle {
  padding: 5px 0 20px;
}

.cardFooterDescription {
  flex-grow: 1;
}

.cardFooterTitle,
.cardFooterDescription {
  padding: 10px 0;
  border-bottom: 1px solid var(--project-card-border-color);
}

.cardFooterTitle {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.links {
  margin-top: 20px;
}

.cardFooterDescription {
  font-size: larger;
  line-height: 1.5;
}

.showMore {
  display: block;
  padding-top: 5px;
}

@media (max-width: 600px) {
  .cardFooterTitle {
    padding-top: 0;
  }

  .cardFooterDescription {
    flex-grow: 1;
  }

  .cardFooterTitle,
  .cardFooterDescription {
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--project-card-border-color);
  }

  .cardFooterTitle {
    font-size: 1.4rem;
  }

  .links {
    margin-top: 8px;
  }

  .cardFooterDescription {
    padding: 10px 0;
    font-size: medium;
    line-height: 1.5;
  }
}
