.contactForm {
  width: 100%;
  color: var(--inverted-bg-color);
}

.leading-loose {
  padding: 0 1rem 2rem;
  line-height: 2;
}

.formEl {
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 0.75rem;
  max-width: 36rem;
  text-align: left;
  box-shadow: var(--contactform-boxshadow-color);
}

.formEl_title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.wrapper_message {
  margin-top: 1.5rem;
}

.message_label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.message_textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-opacity: 0.5;
  background-color: var(--bg-color);
  border-color: var(--contactform-inputs-border-color);
  box-shadow: var(--contactform-boxshadow-inputs-color);
}

.message_textarea::placeholder {
  color: var(--contactform-inputs-placeholder-color);
}

.btn_submit {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}

@media (min-width: 1024px) {
  .contactForm {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .formEl {
    padding: 2.5rem;
  }
}
