@import '../../../app/styles/media/media';

.header {
  top: 0;
  position: fixed;
  padding: 0 var(--header-padding);
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  z-index: 999;
}

.nav {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  width: calc(var(--navbar-height) - 10px);
  aspect-ratio: 1;
}

.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: var(--header-padding);
  transition:
    background-color var(--transition-color),
    color var(--transition-color),
    left 0.5s 0.1s;
}

.show__nav_buttons {
  left: calc(100% - 300px) !important;
}

.nav__button {
  color: var(--bg-color);
}

.nav__link {
  color: inherit;
  cursor: pointer;
}
.active {
  padding: 6px 10px 8px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  background-color: var(--blue-500);
}

.hamburger__color {
  --hamburger-bg-color: var(--bg-color);
}

.nav-hamburger {
  // padding: 0 10px 0 10px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  background-color: var(--inverted-bg-color);
}

@include mobile();
