@use '../text-border/text-border' as *;

@mixin mobile() {
  @media (max-width: 900px) {
    .header {
      top: 0;
      position: fixed;
      background-color: transparent;
      padding: 0;
    }

    .display_none {
      display: block;
    }

    .nav {
      justify-content: end;
    }

    .nav__logo {
      height: var(--navbar-height);
      padding: 0 10px 0 var(--header-padding);
      border-top-right-radius: 20%;
      border-bottom-right-radius: 20%;
      display: none;
      align-items: center;
      background-color: var(--inverted-bg-color);
    }

    .nav__buttons {
      padding-top: var(--navbar-height);
      top: 0px;
      left: 100%;
      position: fixed;
      flex-direction: column;
      width: 300px;
      background: var(--inverted-bg-color);
      z-index: 2;
    }

    .nav__button:not(.nav__buttons li:last-child) {
      width: 90%;
      text-align: center;
      line-height: 3;
      border-bottom: 1px solid var(--bg-color);
    }
    .nav__buttons li:last-child {
      margin: 20px 0;
    }

    /* -------------------------------- INTRODUCE ------------------------------- */

    .introduce {
      height: 100dvh;
    }

    .imgOfLink {
      width: 60px;
    }

    .svg-wrapper {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    /* -------------------------------- INTRODUCE ------------------------------- */
    .descriptionBox {
      padding: 0;
      text-align: center;
    }
    .descriptionMe {
      padding-top: 20px;
      border-radius: 10px;
    }

    .linksToSocial {
      justify-content: center;
      gap: 20px;
      padding: 20px 0;
    }

    .linksToSocial > a {
      margin: 0;
      margin-bottom: 0;
    }

    .imgOfLink {
      width: 50px;
    }

    .getResume a {
      margin: 0;
    }
  }
}
