@import '../../../app/styles/media/media';

.hamburger-color {
  --hamburger-bg-color: var(--bg-color);
}

.btn-hamburger {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  border: 0;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.hamburger-box {
  display: inline-block;
  width: 20px;
}

.hamburger-inner {
  background-color: var(--hamburger-bg-color);
  pointer-events: none;
  transition:
    transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  top: calc(50% - 1px);
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
}

.hamburger-inner::before {
  top: -6px;
}
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: var(--hamburger-bg-color);
  transition:
    transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s,
    background-color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s,
    top 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s,
    bottom 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
}

.hamburger-inner::after {
  bottom: -6px;
}

.close {
  background-color: transparent;
}

.close::after {
  bottom: 0;
  transform: rotate(315deg);
}

.close::before {
  top: 0;
  transform: rotate(225deg);
}

@include mobile();
